<nav class="navbar d-flex justify-content-between navbar-light bg-light">
    <a class="navbar-brand" href="#">Covid Tracker</a>
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item ml-3">
        <a class="nav-link" [routerLink]="'home'">Home</a>
      </li>
        <li class="nav-item ml-3">
          <a class="nav-link" [routerLink]="'add'">Do the PCR</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" [routerLink]="'list'">List of Tested citizens</a>
        </li>
        <li class="nav-item ml-3">
            <a class="nav-link" [routerLink]="'show'">Show Active Cases</a>
        </li>
        <li class="nav-item ml-3">
            <a class="nav-link" [routerLink]="'about'">About Me</a>
        </li>
    </ul>
  </nav>