<br>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Address</th>
        <th scope="col">PCR Result</th>
        <th scope="col">Test Date</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mam of citoyens" style="background-color: {{changestyle(mam)}};">
        <td>{{mam.name}}</td>
        <td>{{mam.age}} y.o</td>
        <td>{{mam.address}}</td>
        <td>{{service.test(mam)}}</td>
        <td>{{mam.time}}</td>
      </tr>

    </tbody>
  </table>