<nav class="navbar d-flex justify-content-between navbar-light bg-light">
    <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item ml-3">
            <a class="nav-link" [routerLink]="'quarantined'">in Quarantine</a>
        </li>
        <li class="nav-item ml-3">
            <a class="nav-link" [routerLink]="'hospital'">in Hospital</a>
        </li>
        <li class="nav-item ml-3">
            <a class="nav-link" [routerLink]="'hospitalCritical'">in Hospital [ critical cases]</a>
        </li>
    </ul>

</nav>